/* General body and container styling */
body {
    display: flex;
    flex-direction: column;
    /* CHANGE THIS LINE: align-items to center the footer */
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--ff-primary);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body.zoomed-active {
    overflow: hidden;
}

.album-container {
    max-width: none; /* Removes the fixed width for a full-width effect */
    width: 100%;
    /* Adds a small padding around the entire gallery */
    padding: 10px;
}

/* Gallery-specific styling */
.album {
    display: grid;
    /* Automatically creates columns with a minimum width of 250px,
       making images slightly larger than before */
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; /* Reduces the gap between photos */
}

.photo-container {
    position: relative;
    width: 100%; 
    height: 250px; /* Adjusted photo height for a better aspect ratio */
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 4px; /* A more subtle border radius */
    box-shadow: var(--shadow-1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, z-index 0s;
    z-index: 0;
}

.photo-container:hover {
    transform: scale(1.09);
    box-shadow: var(--shadow-2);
    z-index: 10;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 4px;
    transition: filter 0.2s ease-in-out;
}

.photo-container:hover .photo {
    filter: brightness(90%);
}

.photo-container.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.0); /* Adjusted zoom scale */
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    border-radius: 4px;
    box-shadow: 0px 10px 30px black(0, 0, 0, 0.3);
    z-index: 100;
    cursor: zoom-out;
}

.photo-container.zoomed .photo {
    border: 2px solid var(--color-primary);
    border-radius: 4px;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.6);
    font-size: var(--label-md);
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.photo-container:hover .description {
    opacity: 1;
}

/* For smaller screens, we can just decrease the height a bit for better fit */
@media (max-width: 480px) {
    .photo-container {
        height: 150px;
    }
    .album-container {
        padding: 5px;
    }
}